html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow: visible !important;
}

.wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.arrow {
    width: 100px;
    height: 100px;
    /**
     * White Arrow Down
     */
    background-image: url("img/arrow.svg");
    background-size: contain;
    z-index: 2000;
}
@media (max-width: 768px) {
    .arrow {
        width: 70px;
        height: 70px;
    }
}
.bounce {
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

