section {
    display: flex;
    width: 100%;
    height: 100%;

    padding: 100px;
    box-sizing: border-box;

    div {
        padding: 100px;
        box-sizing: border-box;

        font-size: 26px;
        line-height: 48px;

        width: 50%;

        h2 {
            font-size: 36px;
        }
    }

    img {
        width: 50%;

        object-fit: cover;
    }
}
.btn-custom {
    border: none;
    outline: none;
    color: white;

    padding: 10px 30px;
    margin-top: 30px;

    background-color: #2266ad;

    cursor: pointer;
}
a:hover {
    color: white;
    text-decoration: none;
}
